extends layout

block content
  h1 Author: #{author.name}
  p #{author.Dateofbirth} - #{author.Dateofdeath}
  div(style='margin-left:1rem; margin-top:1rem')
    h2(style='font-size: 1.5rem') Author's Books
    if author_books.length
      dl
        each book in author_books
          dt
            a(href=book.url) #{book.title}
          dd #{book.summary}
    else
      p Author Books Nyet
  hr
  p
    a(href=author.url + '/delete') Delete author

